#wrapper {
  width: 70%;
  margin: auto;
}

.flex-banner {
  display: flex;
  width: inherit;
  height: auto;
  justify-content: center;
}

.flex-inv {
  display: flex;
}

#inventory img {
  display: inherit;
  width: 20%;
  margin:2%;
  padding: 1%;
  align-content: space-around;
}

.flex-nav {
  font-family: Varela Round, arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-align: center;
}
