#wrapper {
  width: 70%;
  margin: auto;
}

header {
  height: auto;
  margin: auto;
}

ul:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#inventory img {
  width: 27%;
  height: auto;
  padding: 2%;
  margin: 1%;
  float: left;
}

#main-nav {
  font-family: Varela Round, arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-align: center;
}
